services:
  monotes:
    container_name: monotes-container
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    tty: true
    stdin_open: true
    ports:
      - ${PORTS:-7999}:7999