apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose -f docker-compose.prod.yml convert -o manifest/ -n bff-demo --pvc-request-size 2G
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: mongo
  name: mongo
  namespace: bff-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: mongo
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose -f docker-compose.prod.yml convert -o manifest/ -n bff-demo --pvc-request-size 2G
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: mongo
    spec:
      containers:
        - image: mongo:8.0.13
          name: mongo
          ports:
            - containerPort: 27017
              protocol: TCP
          volumeMounts:
            - mountPath: /data/db
              name: mongo-data
      restartPolicy: Always
      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongo-data
